{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="position-relative overflow-hidden p-5 p-md-5 text-center">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
     <h2 style="font-weight:bolder; font-family:fantasy;">Attendance Management System</h2>
       <div   class="position-relative overflow-hidden p-5 p-md-5 text-center">
       <a href="{% url 'register' %}">
   <input type="button" style="" class="btn btn-primary" value="Register" />
</a>
  <a href="{% url 'login' %}">
   <input type="button" style="" class="btn btn-primary" value="Login" />
</a>
       </div>
    </div>
  </div>
</div>

{% endblock %}